<div class="calc-container">
  <div class="calc-row">
    <div class="calc-left calc-btn">
      <span>1</span>
    </div>
    <div class="calc-right calc-btn">
      <span>3</span>
    </div>
    <div class="calc-middle calc-btn">
      <span>2</span>
    </div>
  </div>
  <div class="calc-row">
    <div class="calc-left calc-btn">
      <span>4</span>
    </div>
    <div class="calc-right calc-btn">
      <span>6</span>
    </div>
    <div class="calc-middle calc-btn">
      <span>5</span>
    </div>
  </div>
  <div class="calc-row">
    <div class="calc-left calc-btn">
      <span>7</span>
    </div>
    <div class="calc-right calc-btn">
      <span>9</span>
    </div>
    <div class="calc-middle calc-btn">
      <span>8</span>
    </div>
  </div>
  <div class="calc-row">
    <div class="calc-left calc-btn">
    </div>
    <div class="calc-right calc-btn">
    </div>
    <div class="calc-middle calc-btn">
      <span>0</span>
    </div>
  </div>
</div>
