<header class="header">
  <h1 class="header-label">YouTube</h1>
  <div class="header-right">
    <button class="upload-btn">Upload</button>
    <button class="signin-btn">Sign in</button>
  </div>
  <form action="#" method="get">
    <input type="text" name="fake" class="search-field">
    <input type="submit" value="Search" class="search-button">
  </form>

</header>
