/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  .header-label {
    float: left;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .search-field {
    width: 570px;
    height: 25px;
    margin-top: 12px;
    margin-left: 40px;
    padding-right: 50px;
  }
  input[type="submit"].search-button {
    height: 27px;
    width: 50px;
    margin-left: -55px;
    -webkit-appearance: none;
    border: 0;
  }
  .header-right {
    float: right;
    width: 150px;
    height: 50px;
    .upload-btn {
      -webkit-appearance: none;
      height: 27px;
      width: 50px;
      margin-top: 12px; 
    }
    .signin-btn {
      -webkit-appearance: none;
      height: 27px;
      width: 50px;
      margin-top: 12px;
    }
  }
}

.content {
  margin-top: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .thumbnails {
    float: right;
    background-color: #fff;
    width: 400px;
    padding-left: 10px;
    .preview {
      width: 400px;
      height: 100px;
      margin-top: 10px;
      .preview-right {
        float: right;
	width: 210px;
	margin-right: 10px;
	p {
	  color: #777;
	}	
      }
    }
  }
  .player {
    width: 580px;
    margin-right: 420px;
  }
  .info {
    background-color: #fff;
    margin-top: 10px;
    width: 560px;
    height: 110px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }  
  .info-icon {
    float: left;
    width: 50px;
    height: 50px;
    background-color: green;
  }
  .info-info {
    width: 500px;
    margin-left: 70px;
    .subscribe-btn {
      -webkit-appearance: none;
      margin-top: 8px;
      border: 0;
      background-color: red;
      color: #fff;
      width: 170px;
      height: 25px;
    }
  }
}

.calc-container {
  width: 90px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  .calc-row {
    width: 96px;
    div {
      border: 1px solid #555;
      text-align: center;
      span {
        vertical-align: middle;
      }
    }
    .calc-left {
      float: left;
      width: 30px;
      height: 30px;
    }
    .calc-right {
      float: right;
      width: 30px;
      height: 30px;
    }
    .calc-middle {
      width: 30px;
      height: 30px;
      margin-left: 32px;
      margin-right: 32px;
    }
  }
}